.projects{
    justify-content: center;
    width: 100%;
    font-family: 'Alumni Sans Pinstripe';
    font-size: xx-large;
    font-weight: 600;
    margin-top: 49px;
    border: #eaeaea solid;
    box-shadow: 3px 1px 15px 0px black;
}
h3{
    display: flex;
    justify-content: center;
}
.project-list{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    width: 86%;
    margin: auto;
}