.heading-moviedekho{
    font-size: 5vh;
    margin: auto;
}
img{
    width: 100px;
}
.moviedekho{
    display: flex;
    padding: 20px;

}
.image{
    margin: auto;
}
.content{
    /* margin-left: 5px; */
}
p{
    font-size: 22px;
}
a{
    font-size: smaller;
}