.heading-bits{
    font-size: 4vh;
    margin: auto;
}
img{
    width: 100px;
    margin-top: 18px;
}
.bits{
    display: flex;
    padding: 10px;
}
.image-bits{
    margin-left: 5px;
}
p{
    font-size: 22px;
}
.content-bits{
    margin-left: 45px;
}