.heading-pentair{
    font-size: 4vh;
    margin: auto;
}
img{
    width: 100px;
}
.pentair{
    display: flex;
    padding: 10px;
}
.image-pentair{
    margin-left: 5px;
    margin-top: 25px;

}
.content{
    margin-left: 20px;
}
p{
    font-size: 22px;
}